:root
  {
    /* Measurements (Medidas) */

       /* Gap dos Botões da Calculadora */
      --CalculatorButtonGap: 5px;
      
       /* Margin entre o screen e os botões */
      --MarginBetweenTheScreenAndTheButtons: 5px;
      
      /* Margem entre a tela e o topo da seção */
      --MarginBetweenTheScreenAndTheTopOfTheSection: 5px;                        
  }

section#calculator, section#calculator div.boxCalculator
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

section#calculator
  {
    margin: 0 var(--SectionSideMargins);
    min-height: 50px;
    width: calc(100vw - var(--SectionSideMargins) * 2);
  }

section#calculator div.boxCalculator div.structure div.screen
  {
    margin-top: var(--MarginBetweenTheScreenAndTheTopOfTheSection);
  }

section#calculator div.boxCalculator div.structure div.screen input#display    
  {
    text-align: right;
    border: 0.1px solid #aaa;
    border-radius: 5px;
    padding-right: 5px;
  }

section#calculator div.boxCalculator div.structure div.buttons
  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--CalculatorButtonGap);
    margin-top: var(--MarginBetweenTheScreenAndTheButtons);
  }