:root
  {
    /* Measurements (Medidas) */

       /* Gap dos Botões da Calculadora */
      --CalculatorButtonGap: 5px;
      
       /* Margin entre o screen e os botões */
      --MarginBetweenTheScreenAndTheButtons: 10px;
      
      /* Margem entre a tela e o topo da seção */
      --MarginBetweenTheScreenAndTheTopOfTheSection: 10px;                        
  }

section#calculator, section#calculator div.boxCalculator
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

section#calculator div.boxCalculator div.wallpaper
  {
    background: url(../img/wallpaper-calculator-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    width: calc(100vw);
    display: block;
    position: relative;
    z-index: 0;
  }

section#calculator div.boxCalculator div.structure
  {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background: #ffffff49;
    backdrop-filter: blur(0.7px);
    border-radius: 10px;
    padding: 5px 10px;
  }

section#calculator
  {
    margin: 0 var(--SectionSideMargins);
    min-height: 50px;
    width: calc(100vw - var(--SectionSideMargins) * 2);
  }

section#calculator div.boxCalculator div.structure div.screen
  {
    margin-top: var(--MarginBetweenTheScreenAndTheTopOfTheSection);
    border-radius: 5px;
  }

section#calculator div.boxCalculator div.structure div.screen input#display    
  {
    text-align: right;
    border: 0.1px solid #aaa;
    border-radius: 5px;
    padding-right: 5px;
    background: transparent;
  }

section#calculator div.boxCalculator div.structure div.buttons
  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--CalculatorButtonGap);
    margin-top: var(--MarginBetweenTheScreenAndTheButtons);
    background: transparent;
  }

section#calculator div.boxCalculator div.structure div.buttons button
  {
    height: 30px;
    border-radius: 5px;
    border: 0;
    transition: background 0.2s;
  }

section#calculator div.boxCalculator div.structure div.buttons button:hover
  {
    background: #ffffffa9;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
  }