:root
  {
    /* Colors (Cores) */

      /* Cor principal */
      --MainColor: #ff0;

      /* Cor do texto principal */
      --MainTextColor: #000;
      
      /* Cor complementar */
      --ComplementaryColor: #f0f;
      
      /* Cor do texto complementar */
      --ComplementaryTextColor: #000;
      
      /* Cor do fundo da página */
      --PageBackgroundColor: #fff;                                               

    /* Measurements (Medidas) */

      /* Margins Laterais da Seção */
      --SectionSideMargins: 5px;                                                 
  }

/* Reset */
html, body, section, div, header, footer, table, tbody
  {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: var(--PageBackgroundColor);
    overflow: hidden;
  }
